/jongmin/BicycleGAN/datasets/sar2opt/
/jongmin/BicycleGAN/checkpoint/
/jongmin/BicycleGAN/results/

/jungmok/data/
/jungmok/SAR2Opt-Heterogeneous-Dataset/CycleGAN-Pix2Pix/checkpoint/
/jungmok/SAR2Opt-Heterogeneous-Dataset/CycleGAN-Pix2Pix/results/

/uimin/SAR2Opt-Heterogeneous-Dataset/CycleGAN-Pix2Pix/checkpoint/
/uimin/SAR2Opt-Heterogeneous-Dataset/CycleGAN-Pix2Pix/results/
